.miDiv{
  width: 100%;
  text-align: center;
  padding-top: 200px;
}

.claseTrue{
  font-size: 45px;
  padding: 15px;
  border: none;
  background-color: #32a87f;
  color: #fff;
}


.claseFalse{
  font-size: 45px;
  padding: 15px;
  border: none;
  background-color: #c70404;
  color: #fff;
}
